* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

.top-box {
    width: 95%;
    height: 25vh;
    border: medium solid #000;
    margin: auto;
    padding: 10px;
}

.shape-purple {
    width: 5%;
    height: 15vh;
    background: #8c2fd9;
    display: inline-block;
}

.shape-green {
    width: 30%;
    height: 20vh;
    background: #1e8b35;
    display: inline-block;
    margin-left: 30px;
}

.shape-blue {
    width: 16%;
    height: 20vh;
    border-radius: 50%;
    background: #87CEE8;
    display: inline-block;
    margin-left: 30px;
}

.mid-box {
    width: 95%;
    height: 25vh;
    border: medium dashed #000;
    margin: 20px auto;
}

.yellow {
    width: 70%;
    height: 20vh;
    margin: 15px auto;
    background: #FFFAD2;
    box-shadow: 5px 5px 6px 2px #636363;
}

.bottom-box {
    width: 50%;
    height: 40vh;
    margin: auto;
    box-shadow: 3px 3px 6px 2px #a7a5a5;
}

h1 {
    text-align: center;
    padding: 95px;
    letter-spacing: 7px;
    color: #05057A;
    font-family: 'Times New Roman', Times, serif;
}